@import 'mixins/css3mixins';
@import 'variables';

.business-header {
    height: auto;
    background: url('http://placehold.it/1920x1200') center center no-repeat scroll;
    background-size: cover;
}

.jumbotron {
    margin-top: 16px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 40px;
}

.img-circle {
	border: 2px solid white;
    margin-top: 16px;
}