@import 'mixins/css3mixins';
@import 'variables';

body {
    background-color: #F9F9F9;
}

.well, .jumbotron {
    background: none;
    border: none;
    box-shadow: none;
}

.avatar {
    background: url('/app/images/avatar.jpg');
    background-size: cover;
    margin: 0 auto;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-top: 15px;
}

.img-about {
    margin-top: 20px;
}

#Container {
    width: 100%;
    height: 693px;
    position: relative;
    overflow: hidden;
}

#Container video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
    z-index: -100;
}

.page-header {
    border: none;
}

.hide {
    display: none;
}

.active-btn-portfolio {
    background-color: white !important;
    color: #222 !important;
}

.body-page {
    padding: 150px 0;
}

.nav-pills li a:hover {
    background-color: #444;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    background-color: $colorBorderActive;
}

.business-header {
    height: 693px;
    width: auto;

    h1 {
        font-family: 'Pacifico', cursive;
        color: white;
        text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.9);
    }

    p {
        font-family: 'Courgette', cursive;
        color: white;
    }
}

.about-programer p {
    margin: 0;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    min-height: 40px;

    a {
       font-family: 'Roboto Slab', serif;
       color: white;
       font-size: 18px; 
    }
}

h2, h3 {
    font-family: 'Roboto Slab', serif;
}

h3 {
    margin-top: 0px;
}

h2 {
    border-bottom: 3px solid $colorBorderActive;
}

p {
    font-family: 'Roboto Slab', serif;
    text-indent: 25px;
}

.skill-progress {

    .progress {
        margin-top: 10px;
    }

    p {
        margin: 10px 0 10px;
    }
}

.btn-group-justified {

    button {
        font-family: 'Roboto Slab', serif;
        background-color: $backgroundFooterNavbar;
        color: white;
        font-size: 18px;  
    }
}

.form-horizontal .form-group {
    margin-left: 0;
}

address {
    strong {
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 5px;
    }
}

footer {
    background-color: $backgroundFooterNavbar;

    i {
        color: white;
        font-size: 22px;

        &:hover {
            font-size: 21px;
        }
    }

    p {
       font-family: 'Roboto Slab', serif;
       color: white;
       border-top: 1px solid #222;
       padding-top: 15px;
    }

    .bg-icon {
        margin: 15px 0;
        padding: 10px 0;
    }

    .icon-github:hover {
        color: #444;
    }

    .icon-bitbucket:hover {
        color: #093654;
    }

    .icon-facebook:hover {
        color: #3b5998;
    }

    .icon-youtube:hover {
        color: #C63619;
    }

    .icon-deviantart:hover {
        color: green;
    }

    .icon-cube:hover {
        color: #133783;
    }
}

.icon-mobile {
    font-size: 18px;
    margin-left: -5px;
}

.glyphicon-envelope {
    padding-right: 5px;
}